services:
  redis:
    restart: always
    ports:
      - "6379:6379"
    build: ./redis/.
    volumes:
      - ${PWD}/redis/data:/data
  fastapi:
    build: ./fastapi/.
    ports:
      - "8081:80"
    volumes:
      - ${PWD}/fastapi/app:/app
    links:
      - redis
    depends_on:
      - redis
  php:
    build: ./php/.
    ports:
      - "8080:80"
    volumes:
      - ${PWD}/php/app:/var/www/html/
    links:
      - redis
    depends_on:
      - redis
